<div class="row">
    <div class="col-md-6">
        <form action="">
            <p>form</p>
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" name="name" id="" placeholder="Your Name">
            </div>
            <div class="form-group">
                <label for="Author">author</label>
                <input type="text" class="form-control" name="Author" id="" placeholder="Author">
            </div>
            <div class="form-group">
                <label for="Quote">Quote</label><br>
                <textarea name="quote" id="" cols="47" rows="6" placeholder="type your quote..."></textarea>
            </div>
            <div class="form-group">
                <label for="Posted On">Posted On</label>
                <input type="date" class="form-control" name="date" id="" placeholder="Date Posted">
            </div><br>
            <div class="form-group">
                <button class="btn btn-primary">Post Quote</button>
            </div>
        </form>
    </div>
</div>
