input{
    width: 500px;
    border-radius: 15px;
    /* font-size: 25px; */

}
form{
    background-color: aqua;
   
}

.form-group{
    margin-left: 400px;
    font-size: 20px;
}
button{
width: 300px;
font-size: 20px;
border-radius: 15px;
}