#vbuttons{
    margin: 2px;
}
.section{ 
    margin-top: 10px;
    margin-left: 10px;
    width: 48%;
    float: left;
    padding: 20px;
    background-color: lightblue;
    border-radius: 20px;
    /* overflow: scroll; */
    /* height: 500px; */
    
}
.myform{
    /* float: left; */
     /* width: 40%;  */
    
}
#heading{
    color: aqua;
}