
<div class="container">
    <div class="text-center heading">
    <h1>Welcome to Quotes factory</h1>
    </div>
    <div class="rows">
        <div class="myform">
            <app-form  (addquote)="addNewQuote($event)"></app-form>
        </div>
        <div class="cols-md-8 section"  *ngFor="let quote of quote;let i=index">
            
            <p appQuoteHighlight *ngIf="quote.countupvotenumber===total && quote.countupvotenumber>0">My Name:{{quote.name}}</p>
            <button (click)="toggleDetails(i)">Quote Details</button><br><br>
            <app-quote-datails [quote]="quote"  *ngIf='quote.showQuoteDetails'></app-quote-datails>
            
           
        
                <!-- <app-upvote id="vbuttons"></app-upvote> -->
                <button  class="btn btn-success" (click)="upvotecount(i)"><i class="fa fa-thumbs-up"></i>Upvote{{quote.countupvotenumber}}</button>
            
                <app-downvote id="vbuttons"></app-downvote>
        
                <app-delete2 id="vbuttons" (Delete)="quoteDelete($event,i)"></app-delete2>
                
        </div>
    </div>
</div>