<div class="container">
    
    <h1>MY Quotes</h1>
    <div class="row">
        <div class="col-md-6">
    <app-form></app-form>
</div>
<div class="col-md-6 section">
    <p>My Name</p>
    <p>Author</p>
    <p>Qoute</p>
    <p>Posted On</p>
    <div >
        <button id="vbuttons" class="btn btn-success"><i class="fa fa-thumbs-up"></i>Upvote</button>
        <button id="vbuttons" class="btn btn-success"><i class="fa fa-thumbs-down"></i>downvote</button>
        <button id="vbuttons" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</button>
    </div>
</div>

</div>
  </div>